.first-main {
    display: inline-flex;
}
.form-group.row.first-one {
    
}

label.col-sm-6.col-form-label {}

.form-group.row.first-six {
    /* padding-right: 32px; */
    margin-left: -28px;
}

.form-group.row.first-eleven {
    margin-left: -253px;
}


.form-group.row.first-twelve {
    padding-left: 5p
}
.form-group.second-two {
    margin-left: -4%;
}

.form-group.second-three {
    margin-left: -4%;
}
input.form-control.next-place {
    margin-left: 158%;
    width: 96%;
}
input.form-control.next-place-one {
    margin-left: 147%;
    width: 93%;
}

input.form-control.next-place-two {
    margin-left: 113%;
    width: 81%;
}

input.form-control.next-place-three {
    margin-left: 107%;
    width: 79%;
}
.form-group.second-four {
    margin-left: -4%;
}
.pad-bottt {
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border: 1px solid #e4e6f9;
    padding: 10px;
}

.form-group.row.second-six {
    margin-left: -19%;
}

.form-group.row.second-seven {
           margin-left: -9%;
}
.form-group.second-four {
    padding-left: 26px;
}

.form-group.second-three {
    padding-left: 25px;
}

.form-group.second-four {
    /* padding-left: 9px; */
}

.form-group.second-two {
    padding-left: 23px;
}

.form-group.row.second-one {
    padding-left: 0px;
}

.form-group.row.second-eight {
    margin-left: -28%;
}

.form-group.row.second-nine {
    margin-left: -20%;
}

.form-group.row.second-ten {
    margin-left: -4%;
}

.form-group.row.second-eleven {
    margin-left: -120px;
}
.form-group.row.second-one {
    padding-left: 0px;
}
.form-group.row.first-one {
    padding-left: 7px;
}
span.second-last-one {float: right;padding-left: 250px;}
form.form-inline.new {
    display: inline-grid;
}
span.num-one {padding-left: 138px;}
span.num-two {
    padding-left: 145px;
}
span.num-three {
    padding-left: 103px;
}
span.num-four {
    padding-left: 45px;
}
.form-group.first-three {
    padding-bottom: 30px;
}
.form-group.first-five {
    padding-bottom: 30px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-nine {
    padding-bottom: 10px;
}
.row.pad-top {
    padding-top: 10px;
}
.form-group.second-four {
    padding-bottom: 65px;
}
.form-group.row.second-seven {
    padding-bottom: 24px;
}
.form-group.first-two {
    padding-bottom: 5px;
}

.form-group.first-four {
    padding-bottom: 5px;
}
.form-group.second-two {
    padding-bottom: 5px;
}

.form-group.second-three {
    padding-bottom: 5px;
}
span.sp-one {
    float: right;
    padding-left: 11px;
}
span.sp-five {
    padding-left: 57px;
    /* padding-left: 216px; */
    /* float: revert; */
}
span.sp-six {
    padding-left: 50px;
    /* padding-left: 211px; */
}
p.Essentail {
    padding-left: 11px;
}

span.sp-ten {
        padding-left: 59px;
}
p.On-Peak-Summer {
    padding-left: 13px;
}

span.sp-nine {
    padding-left: 201px;
}

p.Energy-Efficient {
    padding-left: 14px;
}

span.sp-eight {
    padding-left: 202px;
}
p.Max-System {
    padding-left: 14px;
}

span.sp-seven {
    padding-left: 206px;
}
.place-one {
    margin-left: 225px;
}
.place-two {
    margin-left: 215px;
}
.place-three {
    margin-left: 175px;
}
.place-four {
    margin-left: 168px;
}
.place-seven {
    margin-left: 255px;
}
.place-five {
    margin-left: 201px;
}
.place-six {
    margin-left: 193px;
}
th {
    border: 1px solid #dee2e6;
}

tr {
    border: solid 1px #dee2e6;
}

td {
    border: 1px solid #dee2e6;
}
span.Load {
    padding-left: 12px;
}

span.Qty {
    padding-left: 50px;
}

span.ize {
    padding-left: 41px;
    margin-right: -11%;
}
span.sp-two {
    padding-left: 209px;
}
span.sp-two {
    padding-left: 52px;
    /* padding-left: 209px; */
}
.first-main {
    display: inline-flex;
}
.form-group.row.first-one {
    padding-left: 23px;
}

label.col-sm-6.col-form-label {}

.form-group.row.first-six {
    /* padding-right: 32px; */
    margin-left: -28px;
}

.form-group.row.first-eleven {
    margin-left: -253px;
}


.form-group.row.first-twelve {
    padding-left: 5p
}
.form-group.second-two {
    margin-left: -4%;
}

.form-group.second-three {
    margin-left: -4%;
}

.form-group.second-four {
    margin-left: -4%;
}

.form-group.row.second-six {
    margin-left: -19%;
}

.form-group.row.second-seven {
           margin-left: -9%;
}
.form-group.second-four {
    padding-left: 26px;
}

.form-group.second-three {
    padding-left: 25px;
}

.form-group.second-four {
    /* padding-left: 9px; */
}

.form-group.second-two {
    padding-left: 23px;
}

.form-group.row.second-one {
    padding-left: 0px;
}

.form-group.row.second-eight {
    margin-left: -28%;
}

.form-group.row.second-nine {
    margin-left: -20%;
}

.form-group.row.second-ten {
    margin-left: -4%;
}

.form-group.row.second-eleven {
    margin-left: -120px;
}
.form-group.row.second-one {
    padding-left: 0px;
}
.form-group.row.first-one {
    padding-left: 7px;
}
span.second-last-one {float: right;padding-left: 250px;}
form.form-inline.new {
    display: inline-grid;
}
span.num-one {padding-left: 138px;}
span.num-two {
    padding-left: 145px;
}
span.num-three {
    padding-left: 103px;
}
span.num-four {
    padding-left: 45px;
}
.form-group.first-three {
    padding-bottom: 30px;
}
.form-group.first-five {
    padding-bottom: 30px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-nine {
    padding-bottom: 10px;
}
.row.pad-top {
    padding-top: 10px;
}
.form-group.second-four {
    padding-bottom: 65px;
}
.form-group.row.second-seven {
    padding-bottom: 24px;
}
.form-group.first-two {
    padding-bottom: 5px;
}

.form-group.first-four {
    padding-bottom: 5px;
}
.form-group.second-two {
    padding-bottom: 5px;
}

.form-group.second-three {
    padding-bottom: 5px;
}
span.sp-one {
    float: right;
    padding-left: 11px;
}
span.sp-five {
    padding-left: 57px;
    /* padding-left: 216px; */
    /* float: revert; */
}
span.sp-six {
    padding-left: 50px;
    /* padding-left: 211px; */
}
p.Essentail {
    padding-left: 11px;
}

span.sp-ten {
        padding-left: 59px;
}
p.On-Peak-Summer {
    padding-left: 13px;
}

span.sp-nine {
    padding-left: 201px;
}

p.Energy-Efficient {
    padding-left: 14px;
}

span.sp-eight {
    padding-left: 202px;
}
p.Max-System {
    padding-left: 14px;
}

span.sp-seven {
    padding-left: 206px;
}
.place-one {
    margin-left: 225px;
}
.place-two {
    margin-left: 215px;
}
.place-three {
    margin-left: 175px;
}
.place-four {
    margin-left: 168px;
}
.place-seven {
    margin-left: 255px;
}
.place-five {
    margin-left: 201px;
}
.place-six {
    margin-left: 193px;
}
span.ize {}

span.Load {
    padding-left: 12px;
}

span.Qty {
    padding-left: 50px;
}

span.ize {
    padding-left: 41px;
    margin-right: -11%;
}
span.sp-two {
    padding-left: 209px;
}
span.sp-two {
    padding-left: 52px;
    /* padding-left: 209px; */
}
.last-end {
    margin-left: 369%;
    padding-left: 150px;
}
.last-end-one {
    margin-left: 344%;
    padding-left: 150px;
}

.last-end-three {
    margin-left: 245%;
    padding-left: 150px;
}

.last-end-two {
    margin-left: 262%;
    padding-left: 150px;
}

.last-end-four {
    margin-left: 369%;
    padding-left: 150px;
}

.last-end-five {
    margin-left: 312%;
    padding-left: 150px;
}

.last-end-six {
    margin-left: 303%;
    padding-left: 150px;
}
table.table.table-bordered {
    margin-top: -17px;
}
span.pad-0n {
       font-weight: bold;
       padding: 10px 10px;
       border: solid 1px #3f37bd;
       padding-right: 17px;
       color: white;
       background-color: #4343e3;
       display: table;
}

p.p-for {
    padding-top: 12px;
}
.in-one {
    width: 48%;
}
.in-one {
    margin-left: 262%;
    width: 54%;
}

input.in-two {
    margin-left: 296%;
    width: 55%;
}

input.in-three {
    width: 55%;
    margin-top: 2px;
    margin-left: 243%;
}

input.in-four {/* margin-bottom: -14px; */width: 55%;margin-left: 54%;}

input.in-five {
    width: 55%;
    margin-left: 137%;
    margin-top: -10%;
}
table.table.table-bordered {
    margin-top: 1px;
}  
.form-group.second-two {
    margin-left: -7%;
}
input.khuchkr {
    height: 23px;
    width: 77%;
    margin-top: 0px;
}
.form-group.second-three {
    margin-left: -28px;
}

.form-group.second-four {
    margin-left: -7%;
}
span.okkireport {
    padding-left: 13px;
}
/*.paddd {
    padding: 40px 0px;
}*/
.back-col {
    background-color: #b7afaf;
    padding: 20px 0px;
}
.pad-bto {
    padding-bottom: 15px;
}
.colde {
    padding: 0px 8px;
    background-color: #cdc5c5;
}
.main-ow {
    padding-left: 233px;
    display: inline-flex;
}
span.sp-num {
    font-weight: bold;
    padding: 10px 10px;
    border: sold;
    border: solid 1px #FF5349;
    background-color: #FF5349;
    color: white;
}
h5.Estimated {
    color: white;
    text-align: center;
    background-color: #21409A;
    padding: 10px 0px;
}
.custom-div {
    width: 100%;
}
h5.estimated {
    /* display: inline-block; */
    /* text-align: center; */
    font-size: 15px;
}
.custom-set {
    /* float: right; */
    text-align: center;
}
.amount_class {
    float: right;
}
p.Voltaic {
    margin-bottom: 2px;
    font-size: 14px;
}

p.Payback {
    margin-bottom: 5px;
    font-size: 14px;
}
    .Benefits-main {
            margin-bottom: 10px;
    width: 97%;
    background-color: #21409A;
    text-align: center;
    margin-left: 2%;
    color: white;
    padding: 10px 0px;
}
p.Additional {
    font-size: 11px;
    
}
.Additional-mai {
    display: contents;
}

p.Extend {
    width: 0%;
    /* display: contents; */
    float: right;
}

.Extends-main {
    font-size: 13px;
    float: right;
    padding-left: 436px;
}
p.Powe {
        margin-bottom: 8px;
    font-size: 14px;
}

p.Utilit {
    font-size: 14px;
}

.Utility-main {
    font-size: 13px;
    
}
input.form-control.next-place-four {
    float: right;
}
label.-form-label.next-flop {float: right;}
section.sec-firts {
    padding: 30px 0px;
}
span.in-he {
    float: right;
    padding: 5px 0px;
}

input.form-control.flop-put {
    width: 21%;
    float: right;
}
th.font {
     font-size: 12px;
    font-weight: bold;
    padding-bottom: 35px;
     border: solid 1px black !important;
    background-color: #FF5349;
    color: white;
}
td.new-fomt {
    text-align: center;
    font-size: 11px;
    border: solid 1px black !important;

    color: black;
}
.col-md-8.back {
    background-color: #F1F1F1;
    padding: 30px;
}
input.l {
    width: 100%;
    float: right;
    margin-left: -92px;
}
.Extends {
    display: contents;
    /* width: 92%; */
}
.Extends-ma {
    
display: contents;
}
.Power-mai {
    font-size: 11px;
}
section.fourth {
    padding: 18px 0px;
}
p.Extend-nex {
        width: 28%;
    font-size: 14px;
    
}

.row.mistake {
    margin-bottom: -11px;
    margin-top: -18px;
}
.family{
    font-family:  'Poppins', sans-serif;
}
p.Extend {
        width: auto;
    float: right;
}
.Extends-mai {
    display: contents;
    float: right;
}
.Extends-ma {
    
}
p.pad-0n.table-info.wirthing {
    font-weight: bold;
    background-color: #21409A;
    text-align: center;
    color: white;
    padding: 10px;
}
h5.estimated {
    padding: 10px;
}
.col-md-8.back {
    margin-bottom: 52px;
    /* margin-bottom: 11%; */
    background-color: #F1F1F1;
    padding: 30px;
}
p.Additiona {
   padding-bottom: 10px;
}

section.fifth-main {
    padding: 20px 0px;
}
.fifth-main select {
    width: 100%;
    padding: 5px;
}
.fifth-main input {
    width: 100%;
    padding: 5px;
    min-height: 25px;
}
form.form-inline.new {
    width: 100%;
}
.side-app {
    background-color: #fff !important;
}


label.form-label.Cusheading {
    font-size: 22px;
    line-height: 32px;
}
.pad-bottt label {
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 34px;
}
form.form-inline.new .col-md-6 {
    border: solid 1px #dee2e6;
}
form.form-inline.new .col-md-6 p {
    margin: 0;
}
form.form-inline.new .col-md-6 p {
    margin: 6px 0;
}
section.fourth td {
    vertical-align: middle;
}
section.six {
    padding-bottom: 40px;
}