.first-main {
    display: inline-flex;
}
.form-group.row.first-one {
    padding-left: 23px;
}

label.col-sm-6.col-form-label {}

.form-group.row.first-six {
    /* padding-right: 32px; */
    margin-left: -28px;
}

.form-group.row.first-eleven {
    margin-left: -253px;
}


.form-group.row.first-twelve {
    padding-left: 5p
}
.form-group.second-two {
    margin-left: -4%;
}

.form-group.second-three {
    margin-left: -4%;
}

.form-group.second-four {
    margin-left: -4%;
}

.form-group.row.second-six {
    margin-left: -19%;
}

.form-group.row.second-seven {
           margin-left: -9%;
}
.form-group.second-four {
    padding-left: 26px;
}

.form-group.second-three {
    padding-left: 25px;
}

.form-group.second-four {
    /* padding-left: 9px; */
}

.form-group.second-two {
    padding-left: 23px;
}

.form-group.row.second-one {
    padding-left: 0px;
}

.form-group.row.second-eight {
    margin-left: -28%;
}

.form-group.row.second-nine {
    margin-left: -20%;
}

.form-group.row.second-ten {
    margin-left: -4%;
}

.form-group.row.second-eleven {
    margin-left: -120px;
}
.form-group.row.second-one {
    padding-left: 0px;
}
.form-group.row.first-one {
    padding-left: 7px;
}
span.second-last-one {float: right;padding-left: 250px;}
form.form-inline.new {
    display: inline-grid;
}
span.num-one {padding-left: 138px;}
span.num-two {
    padding-left: 145px;
}
span.num-three {
    padding-left: 103px;
}
span.num-four {
    padding-left: 45px;
}
.form-group.first-three {
    padding-bottom: 30px;
}
.form-group.first-five {
    padding-bottom: 30px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-nine {
    padding-bottom: 10px;
}
.row.pad-top {
    padding-top: 10px;
}
.form-group.second-four {
    padding-bottom: 65px;
}
.form-group.row.second-seven {
    padding-bottom: 24px;
}
.form-group.first-two {
    padding-bottom: 5px;
}

.form-group.first-four {
    padding-bottom: 5px;
}
.form-group.second-two {
    padding-bottom: 5px;
}

.form-group.second-three {
    padding-bottom: 5px;
}
span.sp-one {
    float: right;
    padding-left: 11px;
}
span.sp-five {
    padding-left: 57px;
    /* padding-left: 216px; */
    /* float: revert; */
}
span.sp-six {
    padding-left: 50px;
    /* padding-left: 211px; */
}
p.Essentail {
    padding-left: 11px;
}

span.sp-ten {
        padding-left: 59px;
}
p.On-Peak-Summer {
    padding-left: 13px;
}

span.sp-nine {
    padding-left: 201px;
}

p.Energy-Efficient {
    padding-left: 14px;
}

span.sp-eight {
    padding-left: 202px;
}
p.Max-System {
    padding-left: 14px;
}

span.sp-seven {
    padding-left: 206px;
}
.place-one {
    margin-left: 225px;
}
.place-two {
    margin-left: 215px;
}
.place-three {
    margin-left: 175px;
}
.place-four {
    margin-left: 168px;
}
.place-seven {
    margin-left: 255px;
}
.place-five {
    margin-left: 201px;
}
.place-six {
    margin-left: 193px;
}
span.ize {}

span.Load {
    padding-left: 12px;
}

span.Qty {
    padding-left: 50px;
}

span.ize {
    padding-left: 41px;
    margin-right: -11%;
}
span.sp-two {
    padding-left: 209px;
}
span.sp-two {
    padding-left: 52px;
    /* padding-left: 209px; */
}
.first-main {
    display: inline-flex;
}
.form-group.row.first-one {
    padding-left: 23px;
}

label.col-sm-6.col-form-label {}

.form-group.row.first-six {
    /* padding-right: 32px; */
    margin-left: -28px;
}

.form-group.row.first-eleven {
    margin-left: -253px;
}


.form-group.row.first-twelve {
    padding-left: 5p
}
.form-group.second-two {
    margin-left: -4%;
}

.form-group.second-three {
    margin-left: -4%;
}

.form-group.second-four {
    margin-left: -4%;
}

.form-group.row.second-six {
    margin-left: -19%;
}

.form-group.row.second-seven {
           margin-left: -9%;
}
.form-group.second-four {
    padding-left: 26px;
}

.form-group.second-three {
    padding-left: 25px;
}

.form-group.second-four {
    /* padding-left: 9px; */
}

.form-group.second-two {
    padding-left: 23px;
}

.form-group.row.second-one {
    padding-left: 0px;
}

.form-group.row.second-eight {
    margin-left: -28%;
}

.form-group.row.second-nine {
    margin-left: -20%;
}

.form-group.row.second-ten {
    margin-left: -4%;
}

.form-group.row.second-eleven {
    margin-left: -120px;
}
.form-group.row.second-one {
    padding-left: 0px;
}
.form-group.row.first-one {
    padding-left: 7px;
}
span.second-last-one {float: right;padding-left: 250px;}
form.form-inline.new {
    display: inline-grid;
}
span.num-one {padding-left: 138px;}
span.num-two {
    padding-left: 145px;
}
span.num-three {
    padding-left: 103px;
}
span.num-four {
    padding-left: 45px;
}
.form-group.first-three {
    padding-bottom: 30px;
}
.form-group.first-five {
    padding-bottom: 30px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-eight {
    padding-bottom: 10px;
}
.form-group.row.first-nine {
    padding-bottom: 10px;
}
.row.pad-top {
    padding-top: 10px;
}
.form-group.second-four {
    padding-bottom: 65px;
}
.form-group.row.second-seven {
    padding-bottom: 24px;
}
.form-group.first-two {
    padding-bottom: 5px;
}

.form-group.first-four {
    padding-bottom: 5px;
}
.form-group.second-two {
    padding-bottom: 5px;
}

.form-group.second-three {
    padding-bottom: 5px;
}
span.sp-one {
    float: right;
    padding-left: 11px;
}
span.sp-five {
    padding-left: 57px;
    /* padding-left: 216px; */
    /* float: revert; */
}
span.sp-six {
    padding-left: 50px;
    /* padding-left: 211px; */
}
p.Essentail {
    padding-left: 11px;
}

span.sp-ten {
        padding-left: 59px;
}
p.On-Peak-Summer {
    padding-left: 13px;
}

span.sp-nine {
    padding-left: 201px;
}

p.Energy-Efficient {
    padding-left: 14px;
}

span.sp-eight {
    padding-left: 202px;
}
p.Max-System {
    padding-left: 14px;
}

span.sp-seven {
    padding-left: 206px;
}
.place-one {
    margin-left: 225px;
}
.place-two {
    margin-left: 215px;
}
.place-three {
    margin-left: 175px;
}
.place-four {
    margin-left: 168px;
}
.place-seven {
    margin-left: 255px;
}
.place-five {
    margin-left: 201px;
}
.place-six {
    margin-left: 193px;
}
span.ize {}

span.Load {
    padding-left: 12px;
}

span.Qty {
    padding-left: 50px;
}

span.ize {
    padding-left: 41px;
    margin-right: -11%;
}
span.sp-two {
    padding-left: 209px;
}
span.sp-two {
    padding-left: 52px;
    /* padding-left: 209px; */
}
th {
    border: solid 1px black;
}

td {
    border:  solid 1px white;
}

tr {
    border: solid 1px black;
}

thead {
    /* border: solid black 1px; */
}

.table thead th {
    border: solid 1px black !important;
}
tr:nth-child(even) {
   background-color: #ffd6b2;
}

tr:nth-child(odd) {
   background-color: #c4ddc4;
}
span.toi.table-primary.col-md-2.for-border {
    border-bottom: none;
}
span.toi {
    border-bottom: none !!important;
    color: white;
    font-size: 20px;
    border: solid 1px black;
    font-weight: bold;
    text-align: center;
    border-bottom: none;
    border-left: none;
    /* padding-left: 60px; */
    /* padding-right: 79px; */
}
span.toi-one {
    border-bottom: none !!important;
    border-bottom: none;
    color: white;
    border: solid 1px black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: none;
    border-left: none;
    /* padding-left: 284px; */
    /* padding-right: 402px; */
}
span.toi.table-primary.for-border.col-md-2.bod {
    border-left: solid 1px black;
    border-bottom: none;
    border-right: none;
}

th.table-primary.whi {
    color: white;
}
table.table {
    text-align: center;
}
th.table-primary.newx {padding-bottom: 36px;padding-left: 50px;padding-right: 50px;}
th.table-primary.whi.ne-pad {
    padding: 44px 60px;
}
h2.text-center.pad-h2 {
    padding: 41px 0px;
}
.pad0boo {
    padding-bottom: 0px;
    padding: 0px 50px ;
}
section.tab-one {
        padding-bottom: 61px;
}
.pad-bottt {
    padding: 5px 0px;
}
th.table-primary.whi.wdh {
    width: 10%;
}
th.table-primary.whi.wdh-one {
    width: 17%;
    padding-bottom: 31px;
}
td.clo-one {
   background-color: #ffd6b2;
}

td.clo-two {
    background-color: #c4ddc4;
}
h2.text-ce {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #b7c6ef;
    padding: 10px;
    font-weight: bold;
}
p.tex-si {
    font-size: 21px;
}.right-border {
    border-right: solid 2px white!important;
}
span.table-primary.whi.wdh-one.custom-setting {
    width: 100%;
}
.row.disk {
    display: contents;
}
 {
    background-color: green;
    width: 14%;
}
span.col-3.line {
    background-color: #5b9bd5;
    width: 25%;
}
section.sec-three {
    padding: 35px 0px;
}
span.col-6.back-dis {
    font-size: 25px;
    font-weight: bold;
    background-color: #b8daff;
    padding: 12px 0px;
}

span.col-6.line {
    /* border-right: solid 1px white; */
    background-color: #b8daff;
    width: -1%;
}
section.sec-four {
    padding: 35px 0px;
}
p.siz-pad {
    padding-top: 24px;
    font-size: 17px;
}

p.siz-pad-one {
    font-size: 17px;
}
.col-6.last-ko {
    padding: 60px 0px;
    text-align: center;
    padding-top: 23px 0px;
}
tr.border-wh {
    border: solid 2px white;
}

td.border-wh {
    border: solid 2px white;
}
td.border-wh.bod-ol {
    font-weight: bold;
}
td.border-wh.bac-co-lo {
    background-color: red;
}
td.clo-one {
    background-color: #c4ddc4;
}

th.table-primary.whi.wdh-one {padding-bottom: 1px;}
input.form-control.field {
   width: 77%;
   text-align: center;
    height: 28px;
}
td.flop-inpt {
        font-weight: bold;
     padding: 18px 0px;
    text-align: center;
     background: #c4ddc4;
    border: solid 1px white;  
}
td.clo-one.whi-bord {
    padding: 18px 0px;
}
input.form-control.-center-inpt {
    width: %;
    height: 28px;
    width: 100%;
}
tr.whi-bord {
     background-color: #ffd6b2 !!important;
    border: solid 2px white;
}   
th.table-primary.whi.wdh-one.whi-bord {
    border: solid 2px white !important;
}
th.table-primary.whi.wdh.whi-bord {
    border: solid 2px white !important;
}
th.table-primary.whi.whi-bord {
    border: solid 2px white !important;
}
td.clo-one.whi-bord {
    border: solid 2px white;
}
td.clo-two.whi-bord {
     background-color: #ffd6b2;
    border: solid 1px white;
}
.row.whi-bord {
    border: solid 1px white;
}
span.toi.table-primary.for-border.col-md-2.bod.whi-bord {
    border: solid 1px white;
}
span.toi-one.table-primary.for-border.col-md-7.whi-bord {
    border: solid 1px white;
}
span.toi.table-primary.for-border.col-md-3.whi-bord {
    border: solid 1px white;
}
section.sec-firts {
    padding: 35px 0px;
}
td.clo-one.whi-bord {
    border: solid 2px white !important;
}
.col-4.last-ko {
    text-align: center;
    padding: 69px 0px;
    font-size: 18px;
}
tr.fot-nt {
    font-size: 18px;
}
table.fot-nt {
    width: 100%;
    font-size: 18px;
}
section.sec-six {
    padding: 35px 0px;
}
th.table-primary.whi.wdh-one.whi-bord {
    padding-bottom: 27px;
}
.last-ko {
    text-align: center;
    font-size: 18px;
    padding-top: 61px;
}
td.clo-one.right-border.whi-bord {
    padding-left: 10px;
}

td.clo-one.right-border {
    padding-left: 10px;
}
input.cent {
    text-align: center;
    width: 30%;
}
tr.border-wh.last-ab-colo {
    font-weight: bold;
    color: white;
    font-size: 19px;
}

tr.border-wh.last-ab-colo-two {
    color: white;
    font-size: 18px;
}
tr.border-wh.tab-colo-three {
    color: black;
    font-size: 18px;
}
.Bold-text {
    font-weight: bold;
}
p.padi-para {
    padding: 14px 0px;
}
form.form-firts {
    padding: 10px 0px;
}